Repository illionillion/go-shisha: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-format, backend-format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-lint:
      glob: "frontend/**/*.{js,jsx,ts,tsx}"
      run: cd frontend && npx eslint --fix {staged_files}
      stage_fixed: true
    frontend-format:
      glob: "frontend/**/*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: cd frontend && npx prettier --write {staged_files}
      stage_fixed: true
    backend-format:
      glob: "backend/**/*.go"
      run: |
        if command -v gofmt >/dev/null 2>&1; then
          cd backend && gofmt -w {staged_files}
        else
          echo "⚠️  gofmt not found, skipping backend format check"
        fi
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit

post-checkout:
  commands:
    pnpm:
      glob: "{package.json,pnpm-lock.yaml,frontend/package.json,frontend/pnpm-lock.yaml}"
      run: pnpm install

post-merge:
  commands:
    pnpm:
      glob: "{package.json,pnpm-lock.yaml,frontend/package.json,frontend/pnpm-lock.yaml}"
      run: pnpm install

post-rewrite:
  commands:
    pnpm:
      glob: "{package.json,pnpm-lock.yaml,frontend/package.json,frontend/pnpm-lock.yaml}"
      run: pnpm install

build: lint-staged導入とlefthook設定改善
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: none

chore: Frontend設定とAPI型定義を自動更新
  frontend/api/model/goShishaBackendInternalModelsPostsResponse.ts
  frontend/api/model/goShishaBackendInternalModelsUsersResponse.ts
  frontend/api/model/index.ts
  frontend/api/posts.ts
  frontend/api/users.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  package.json
Due: frontend-lint, frontend-format

docs: Swagger/OpenAPI生成ルールを追加
  .github/copilot-backend.md
  .gitignore
  backend/.air.toml
Due: none

feat: VRT Docker環境をfrontend配下に追加
  frontend/Dockerfile.vrt
  frontend/compose.vrt.yml
  frontend/package.json
  package.json
Due: none

docs: モノレポ環境に合わせてREADMEとCopilotルールを更新
  .github/copilot-instructions.md
  README.md
Due: none

ci: モノレポ構成に対応してCI設定を更新
  .github/actions/setup-frontend/action.yml
  .github/workflows/fe-quality-check.yml
Due: none

feat: VRT Docker環境を構築
  frontend/.dockerignore
  frontend/Dockerfile.vrt
  frontend/compose.vrt.yml
Due: none

fix: CI pnpmバージョン重複指定を修正
  .github/actions/setup-frontend/action.yml
Due: none

fix: コマンド修正
  .github/workflows/fe-quality-check.yml
Due: none

fix: ほんとにコマンド修正
  .github/workflows/fe-quality-check.yml
Due: none

feat: TypeScript環境整備とwatch-openapiスクリプト改善
  package.json
  pnpm-lock.yaml
  scripts/watch-openapi.ts
  tsconfig.json
Due: none

fix: Air設定でdocsディレクトリの監視を追加
  backend/.air.toml
Due: none

fix: VRT環境のDocker設定を改善
  frontend/Dockerfile.vrt
  frontend/compose.vrt.yml
  frontend/package.json
Due: none

fix: lefthookのglobパターンからfrontend/pnpm-lock.yamlを削除
  lefthook.yml
Due: none

docs: 開発コマンドの説明を正確に修正
  README.md
Due: none

Update .github/actions/setup-frontend/action.yml
  .github/actions/setup-frontend/action.yml
Due: none

fix: volume元に戻した
  frontend/compose.vrt.yml
Due: none

fix: VRT test-runnerフックが実行されない問題を修正
  frontend/.dockerignore
  frontend/.storybook/test-runner.ts
  frontend/package.json
  pnpm-lock.yaml
Due: frontend-lint, frontend-format

fix: update ui-shishacard image snapshot without user icon
  frontend/__image_snapshots__/ui-shishacard--without-user-icon.png
Due: none

fix: golangci-lintのインストール方法を公式Actionに変更
  .github/workflows/backend-quality-check.yml
Due: none

docs: 領域別ルール参照を必須化
  .github/copilot-instructions.md
  frontend/components/ui/ShishaCard/ShishaCard.test.tsx
Due: frontend-lint, frontend-format

docs: REQUIREMENTS.mdにフレーバー機能追加
  REQUIREMENTS.md
Due: none

docs: 拡張可能な設計ルールを共通ルールに追加
  .github/copilot-instructions.md
Due: none

feat(backend): Flavorモデル追加
  backend/internal/models/flavor.go
Due: backend-format

feat(backend): Postモデルにフレーバーフィールド追加
  backend/internal/models/post.go
Due: backend-format

feat(backend): モックデータにフレーバー追加とSwagger再生成
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/repositories/mock/flavor_mock.go
  backend/internal/repositories/mock/post_repository_mock.go
Due: backend-format

feat(frontend): API型定義をOrvalで再生成
  frontend/api/model/goShishaBackendInternalModelsFlavor.ts
  frontend/api/model/goShishaBackendInternalModelsPost.ts
  frontend/api/model/index.ts
Due: frontend-lint, frontend-format

feat(frontend): Headerコンポーネント実装
  frontend/components/Header/Header.stories.tsx
  frontend/components/Header/Header.test.tsx
  frontend/components/Header/Header.tsx
  frontend/components/Header/index.ts
Due: frontend-lint, frontend-format

feat(frontend): PostCardコンポーネント実装
  frontend/features/posts/components/PostCard.stories.tsx
  frontend/features/posts/components/PostCard.test.tsx
  frontend/features/posts/components/PostCard.tsx
Due: frontend-lint, frontend-format

feat(frontend): Timelineコンポーネント実装
  frontend/features/posts/components/Timeline.stories.tsx
  frontend/features/posts/components/Timeline.test.tsx
  frontend/features/posts/components/Timeline.tsx
Due: frontend-lint, frontend-format

feat(frontend): トップページにタイムライン統合
  frontend/app/page.tsx
  frontend/features/posts/components/TimelineContainer.tsx
Due: frontend-lint, frontend-format

test(frontend): VRTスナップショット追加
  frontend/__image_snapshots__/components-header--default.png
  frontend/__image_snapshots__/components-header--mobile.png
  frontend/__image_snapshots__/features-posts-postcard--berry-flavor.png
  frontend/__image_snapshots__/features-posts-postcard--long-message.png
  frontend/__image_snapshots__/features-posts-postcard--with-flavor.png
  frontend/__image_snapshots__/features-posts-postcard--without-flavor.png
  frontend/__image_snapshots__/features-posts-timeline--default.png
  frontend/__image_snapshots__/features-posts-timeline--error.png
  frontend/__image_snapshots__/features-posts-timeline--loading.png
  frontend/__image_snapshots__/features-posts-timeline--mobile.png
Due: none

refactor(frontend): API URL設定を単一の環境変数に統一
  frontend/lib/api-client.ts
Due: frontend-lint, frontend-format

docs: NEXT_PUBLIC_API_URL設定を追加
  .env.example
Due: none

feat(frontend): picsum.photos画像ホストを許可
  frontend/next.config.ts
Due: none

style(frontend): タイムラインに最大幅と中央寄せを設定
  frontend/features/posts/components/Timeline.tsx
Due: frontend-lint, frontend-format

feat(backend): シーシャ画像を追加
  backend/public/images/264971_0.jpg
  backend/public/images/264972_0.jpg
  backend/public/images/264973_0.jpg
  backend/public/images/264974_0.jpg
  backend/public/images/264975_0.jpg
  backend/public/images/264976_0.jpg
  backend/public/images/264977_0.jpg
  backend/public/images/264978_0.jpg
  backend/public/images/264979_0.jpg
Due: none

feat(backend): 静的ファイル配信を追加
  backend/cmd/main.go
Due: backend-format

feat(backend): モックデータの画像URLを相対パスに変更
  backend/internal/repositories/mock/post_repository_mock.go
Due: backend-format

docs: NEXT_PUBLIC_BACKEND_URL環境変数を追加
  .env.example
Due: none
